* {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

main {
    display: flex;
    flex-direction: row;
    margin: 138px auto auto 125px;

}

.box-higth {
    Width: 515px;
    margin-left: 100px;
}
header {
    position: relative;
    top: 30px;
    left: 60px;
    cursor: pointer;
}

a {
    margin-right: 23px;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #989D9C;
}

.button-log-in {
    cursor: pointer;
    background: #665AE1;
    border-radius: 20.5px;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    Width: 130px;
    Height: 41px;
    border: none;
}

button {
    border: none;
    cursor: pointer;
    background: #ADFF00;
    border-radius: 20.5px;
    Width: 239px;
    Height: 64px;
    color: #000000;
    font-weight: 700;
    font-size: 28px;
    line-height: 34px
}

button:active {
    border: 4px #48ff00 solid;
}

button:hover {
    opacity: 0.8;
}

.button-log-in:active {
    border: 4px rgb(59, 51, 153) solid;
}

.button-log-in:hover {
    opacity: 0.8;
}

img {
    max-width: 480px;

}

h1 {
    font-weight: 900;
    font-size: 100px;
    line-height: 122px;
    color: #515151;
}

h2 {
    font-weight: 500;
    font-size: 58px;
    line-height: 71px;
    color: #515151;
    margin-bottom: 32px;

}

p {
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #848484;
    margin-bottom: 50px;
}

@media screen and (max-width:1116px) {
    p {
        display: none;
    }

    header {
        display: none;
    }

    main {
      
        flex-direction: column;
        margin: 0;
        align-items: center;
        align-content: center;
        margin-top: 15%;
    }

    img {
        max-width: 354px;

    }

    h1 {
        font-size: 50px;
        line-height: 61px;

    }

    h2 {
        font-size: 30px;
        line-height: 37px;
        margin: 5px auto 10px auto;
    }

    .box-higth {
        margin: 0;
        width: auto;
    }

    .box-left {
        width: auto;
    }
}

@media screen and (max-height:640px) {
    img {
        max-width: 300px;
        margin-top: 5px;
    }
}

@media screen and (max-width:360px) {
    img {
        max-width: 280px;
        margin-top: 5px;
    }
}